name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run test.py
      id: test
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Test
        setup-command: conda tos accept; conda install python=3.9 --yes; conda tos accept; conda install -c potassco clingo --yes
        command: "/usr/share/miniconda/bin/python3.9 asp/test.py -e asp/sudoku.lp -i asp/instances -s asp/solutions -t 100 -c /usr/share/miniconda/bin/clingo | tee test.log"
        input: ''
        expected-output: SUCCESS
        comparison-method: contains
        timeout: 10
        max-score: 1
    - name: Print output
      run: cat test.log  
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEST_RESULTS: "${{steps.test.outputs.result}}"
      with:
        runners: test